<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<button onclick="replay()">상품리스트</button><button onclick="back()">상품등록</button>	<button onclick="goUserList()">유저페이지</button>
<button onclick="QnaList()">QnaList
<button onclick="noticse()">Notice</button>
<br/><button onclick="point()">포인트</button><button onclick="coupon()">쿠폰리스트</button>
<button onclick="orders()">오더리스트</button>
<button onclick="addminReviewList()">리뷰리스트</button><button onclick="addminAboutList()">about리스트</button>


<script>
function addminAboutList(){
	location.href="/addminAboutList";
}
function addminReviewList(){
	location.href="/addminReviewList";
}
function orders(){
	location.href="/orders";
}
function coupon(){
	location.href="/AddminCouponList";
}
function point(){
	location.href="/pointList";
}
function noticse(){
	location.href="/noticelist";
}
function order(){
	location.href="/orders";
}
function QnaList(){
	location.href="/addqna";
}
function goUserList(){
	location.href="/userlist";
}
function back(){
	location.href="/axios";
}
function related(){
location.href="/relatedProducts";
}
function replay(){
	location.href="/list";
}
</script>
</body>
</html>